# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
.env
.venv/
venv/
env/
pip-wheel-metadata/
build/
dist/
*.log

# --- Jupyter ---
.ipynb_checkpoints
*.ipynb_save
*/.ipynb_checkpoints/*

# --- Generated project artifacts ---
artifacts/
data/preprocessed/
models/
images/*.html
images/*.png
images/*.jpg
images/*.jpeg
images/*.gif
images/*.svg

# --- IDE stuff ---
.idea/


